defmodule <%= @web_mod %>.Graphql.<%= @context %>.Types do
  @moduledoc """
  GraphQL types for the <%= @context %> context.
  """

  use Absinthe.Schema.Notation
  use EctoGraphql


  # content go here
end
